body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #283136;
  
  background-color: #ffffff;
}

a {
  text-decoration: none; 
}

/*к навигации и логотипу*/

.page-header {
  background-color: #eeeeee;
}

.main-navigation {
  text-transform: uppercase;
  font-weight: 500;
  display: flex; 
  width: 1160px;
  justify-content: space-between;
  margin:auto;
  padding-top: 49px;
  padding-bottom: 28px;
}

.wrapper-site-nav-and-basket {
  display: flex;
  width: 800px;
  justify-content: space-between;
}

.main-header-logo {
  opacity: 1;
}

.main-header-logo:hover, 
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  padding: 0px;
}

.site-navigation,
.basket {
  list-style: none;
}

.site-navigation a,
.basket a {
  color: #000000;
  line-height: 30px;
}

.site-navigation a:hover,
.site-navigation a:focus, 
.basket a:hover,
.basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.basket a:active {
  color: #000000; 
  opacity:0.3;
}

.site-navigation-current {
  text-decoration:underline;
  text-decoration-color: #fb565a;
}

/* к слайдеру*/

.slide-title {
  color: #000000;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0px;
}

.slide-text p {
  line-height: 24px;
}

.btn {
  color: #ffffff;
  background-color: #fb565a;
  align-self: center;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.slides {
  background-color: #eeeeee;
}

.slide {
  display: flex;
  width: 1160px;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  min-height: 413px;
  margin:auto;
  margin-top: 0px;
  margin-bottom: 85px;
}

.slide-1 {
  background-image: url("../img/slide1.png");
}

.slide-2 {
  background-image: url("../img/slide2.png");
}

.slide-3 {
  background-image: url("../img/slide3.png");
}

.slide-text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/*то, что надо скрыть + пока скрыла кнопки для слайдеров и слайды 2 и 3*/

.visually-hidden {
  display: none;
}
/* к услугам */

.services-list {
  list-style: none;
  display: flex;
  width: 1160px;
  justify-content: space-between;
  padding: 0px;
  margin: auto;
  margin-top: 0px;
  padding-bottom: 85px;
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  text-align:left;
  width: 300px;
}

.services-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.services-item p{
  line-height: 24px;
}

.order-button {
  text-align: center;
  color: #ffffff;
}

.button-1 {
  background-color: #fb565a;
}

.button-1:hover,
.button-1:focus {
  background-color: #e74246;
}

.button-1:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-2 {
  background-color: #00ca74;
}
  
.button-2:hover,
.button-2:focus {
  background-color: #00bc6c;
}

.button-2:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-3 {
  background-color: #efc84a;
}

.button-3:hover,
.button-3:focus {
  background-color: #eab534;
}

.button-3:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* про компанию */

.about {
  display: flex;
  width: 1160px;
  margin: auto;
  justify-content: space-between;
  padding-top: 40px;
}

.about-left-part {
width: 660px;
  padding-bottom: 75px;
}

.about-left-part h2 {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  font-weight: 500;
}

.about-left-part p {
  line-height: 24px;
  text-align: left;
}

.about-left-part h3 {
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}

.orders {
  line-height: 24px;
  text-align: left;
}

.about-right-part {
  width: 360px;
}

.about-right-part h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.stat-mean {
  font-size: 45px;
  font-weight: bold;
  color: #000000;
}

.stat-header {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}

/* наши клиенты */

.client-list {
  display: flex;
  width: 1086px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 80px;
  padding-left: 31px;
  padding-right: 43px;
  padding-top: 47px;
  padding-bottom: 48px;
  border-bottom: 2px solid #eeeeee; 
  border-top:  2px solid #eeeeee;
}

.client-list-item a {
  opacity: 0.2
}

.client-list-item a:hover,
.client-list a:focus {
  opacity: 1
}

.client-list-item a:active {
   opacity: 0.1
}

/*вторая страница*/

.subtitle {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
  font-weight: 500;
}

/* 2 стр фильтры*/

.filter-name {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.filter {
  border: none;
}

.cost-slider, 
.filter-for-cost .cost-from-to {
  background-color: #eeeeee;
}

.show {
  color: #000000;
  background-color: #eeeeee;
}

.show:hover,
.show:focus{
  background-color: #dfdfdf;
}

.show:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

/*каталог*/

.catalog h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.sorting-item,
.up-down,
.catalog-list,
.pagination-list {
  list-style: none;
}
.sorting-item button {
  background-color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-item button:hover,
.sorting-item button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item button:active {
  color: #000000;
}

.btn-arrow {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  color: #000000;
  opacity: 0.2;
  font-size: 0;
  width: 11px;
  height: 10px;
}

.down {
  background-image: url("../img/icon-down-dir.svg");
}

.up {
  background-image: url("../img/icon-up-dir.svg");
}

.btn-arrow:hover,
.btn-arrow:focus {
  opacity: 0.4;
}

.btn-arrow:active,
.btn-arrow:active {
  opacity: 1;
}

.btn-product-card {
  text-align: center;
  background-color: #eeeeee;
}

.product-card a {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.product-card p {
  color: #666666;
}

.price-btn {
  background-color: #fb565a;
  color: #ffffff;
}

.price-btn:hover,
.price-btn:focus {
 background-color:#e74246;
}

.price-btn:active {
background-color: #d7373b;
}

/* пагинатор */

.pagination-item {
  background-color: #eeeeee;
  color: #000000;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
}

.pagination-item.current {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

/* контакты */


.our-contacts {
  width: 1440px;
  margin: auto;
}

.write-us h3 {
  text-transform: uppercase;
  color: #000000;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
}
  
.write-us p {
  line-height: 18px;
  text-align: left;
}

.btn-write-us {
  background-color: #fb565a;
  text-align: center;
  color: #ffffff;
}

.btn-write-us:hover,
.btn-write-us:focus {
  background-color: #e74246;
}

.btn-write-us:active {
background-color: #d7373b;
color: rgba(255, 255, 255, 0.3);
}

.social {
  list-style: none;
  text-align: left;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-social p {
  line-height: 22px;
}

/*поп-ап*/

.modal-contacts h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.modal-write-us label {
  font-weight: bold;
  color: #000000;
}

.write input,
.write textarea {
  border: 2px solid #d7dcde;
  color: #a1a1a1;
}

.write input:hover,
.write textarea:hover {
  border: 2px solid #b4b9bb;
}

.write input:focus,
.write textarea:focus {
  border: 2px solid #000000;
  outline: none;
}

.write input:invalid,
.write textarea:invalid {
  background-color: #e74246;
  color: #e74246;
}

.btn-send {
  background-color: #fb565a;
  color: #ffffff;
}

.modal-close {
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  color: #fb565a;
  border: none;
  opacity: 0.3;
  font-size: 0px;
  width: 21px;
  height: 21px;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}