body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #283136;
  
  background-color: #ffffff;
}

a {
  text-decoration: none; 
}

/*к навигации и логотипу*/

.main-navigation {
  text-transform: uppercase;
  
  background-color: #eeeeee;
}

.main-header-logo {
  opacity: 1;
}

.main-header-logo:hover, 
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation,
.basket {
  list-style: none;
}

.site-navigation a,
.basket a {
  color: #000000;
  line-height: 30px;
}

.site-navigation a:hover,
.site-navigation a:focus, 
.basket a:hover,
.basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.basket a:active {
  color: #000000; 
  opacity:0.3;
}

.site-navigation-current {
  text-decoration:underline;
  text-decoration-color: #fb565a;
}

/* к слайдеру*/

.slide-title {
  color: #000000;
  font-size: 55px;
  line-height: 55px;
  font-weight: medium;
}

.slide-text p {
  line-height: 24px;
}

.btn {
  color: #ffffff;
  background-color: #fb565a;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
.slides {
  background-color: #eeeeee;
}

.slide {
  background-repeat: no-repeat;
  background-position: right;
}

.slide-1 {
  background-image: url("../img/slide1.png");
}

.slide-2 {
  background-image: url("../img/slide2.png");
}

.slide-3 {
  background-image: url("../img/slide3.png");
}

/* к услугам */

.services-list {
  list-style: none;
}

.services-item {
  text-align:left;
}

.services-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.services-item p{
  line-height: 24px;
}

.order-button {
  text-align: center;
  color: #ffffff;
}

.button-1 {
  background-color: #fb565a;
}

.button-1:hover,
.button-1:focus {
  background-color: #e74246;
}

.button-1:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-2 {
  background-color: #00ca74;
}
  
.button-2:hover,
.button-2:focus {
  background-color: #00bc6c;
}

.button-2:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-3 {
  background-color: #efc84a;
}

.button-3:hover,
.button-3:focus {
  background-color: #eab534;
}

.button-3:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* про компанию */

.about-left-part h2 {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  font-weight: medium;
}

.about-left-part p {
  line-height: 24px;
  text-align: left;
}

.about-left-part h3 {
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}

.orders {
  line-height: 24px;
  text-align: left;
}

.about-right-part h3 {
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.stat-mean {
  font-size: 45px;
  font-weight: bold;
  color: #000000;
}

.stat-header {
  text-align: center;
}

/* наши клиенты */

.client-list {
  list-style: none;
}

.client-list-item a {
  opacity: 0.2
}

.client-list-item a:hover,
.client-list a:focus {
  opacity: 1
}

.client-list-item a:active {
   opacity: 0.1
}

/*вторая страница*/

.subtitle {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
  font-weight: medium;
}

/* 2 стр фильтры*/

.filter-name {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.filter {
  border: none;
}

.cost-slider, 
.filter-for-cost .cost-from-to {
  background-color: #eeeeee;
}

.show {
  color: #000000;
  background-color: #eeeeee;
}

.show:hover,
.show:focus{
  background-color: #dfdfdf;
}

.show:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

/*каталог*/

.catalog h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.sorting-item,
.up-down,
.catalog-list,
.pagination-list {
  list-style: none;
}
.sorting-item button {
  background-color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-item button:hover,
.sorting-item button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item button:active {
  color: #000000;
}


.arrow {
  background-color: #ffffff;
  border: none;
  color: rgba(0, 0, 0, 0.2);
}

.arrow:hover,
.arrow:focus {
  color: #a6a6a6;
}

.arrow:active {
  color: #231f20;
}

.product-card {
  text-align: center;
  background-color: #eeeeee;
}

.product-card a {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.product-card p {
  color: #666666;
}

.price-btn {
  background-color: #fb565a;
  color: #ffffff;
}

.price-btn:hover,
.price-btn:focus {
 background-color:#e74246;
}

.price-btn:active {
background-color: #d7373b;
}

/* пагинатор */

.pagination-item {
  background-color: #eeeeee;
  color: #000000;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
}

.pagination-item .current {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

/* контакты */

.write-us h3 {
  text-transform: uppercase;
  color: #000000;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
}
  
.write-us p {
  line-height: 18px;
  text-align: left;
}

.btn-write-us {
  background-color: #fb565a;
  text-align: center;
  color: #ffffff;
}

.btn-write-us:hover,
.btn-write-us:focus {
  background-color: #e74246;
}

.btn-write-us:active {
background-color: #d7373b;
color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  text-align: center;
}

.social {
  list-style: none;
  text-align: left;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-social p {
  line-height: 22px;
}

/*поп-ап*/

.modal-contacts h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.modal-write-us label {
  font-weight: bold;
  color: #000000;
}

.write input,
.write textarea {
  border: 2px solid #d7dcde;
  color: #a1a1a1;
}

.write input:hover,
.write textarea:hover {
  border: 2px solid #b4b9bb;
}

.write input:focus,
.write textarea:focus {
  border: 2px solid #000000;
  outline: none;
}

.write input:invalid,
.write textarea:invalid {
  background-color: #e74246;
  color: #e74246;
}

.btn-send {
  background-color: #fb565a;
  color: #ffffff;
}

.modal-close {
  background-color: #ffffff;
  color: #fecccd;
  border: none;
}

.modal-close:active {
  color: #fb565a;
}

















