body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #283136;
  
  background-color: #ffffff;
}

a {
  text-decoration: none; 
}

/*то, что надо скрыть + пока скрыла кнопки для слайдеров и слайды 2 и 3*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*к навигации и логотипу*/

.page-header {
  background-color: #eeeeee;
}

.main-navigation {
  text-transform: uppercase;
  font-weight: 500;
  display: flex; 
  width: 1160px;
  justify-content: space-between;
  align-items: center;
  margin:auto;
  margin-top: 0px;
  padding-top: 49px;
  padding-bottom: 18px;
}

.main-header-logo {
  opacity: 1;
}

.main-header-logo:hover, 
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  padding: 0px;
}

.site-navigation,
.basket {
  list-style: none;
}

.site-navigation a,
.basket a {
  color: #000000;
  line-height: 30px;
}

.site-navigation a:hover,
.site-navigation a:focus, 
.basket a:hover,
.basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.basket a:active {
  color: #000000; 
  opacity:0.3;
}

.site-navigation-current {
  text-decoration:underline;
  text-decoration-color: #fb565a;
}

.basket {
  display: flex;
  max-width: 130px;
}

.basket .basket-link { 
  padding-left: 60px;
   position: relative;
}

.basket-link::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-position: 0 0; 
  position: absolute;
  right: 95px;
  top: 25%;
}

/* к слайдеру*/

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slide-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.points {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slides {
  padding: 0px;
  margin: 0;
  list-style: none;
}

.points label {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.points label::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

.slide {
  display: none;
  padding: 78px 0 80px 0;
}

.slide:nth-child(1) {
  display: block;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}
  
.slide:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#point-slide-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#point-slide-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#point-slide-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

#point-slide-1:checked ~ .points .points-slide-1::before,
#point-slide-2:checked ~ .points .points-slide-2::before,
#point-slide-3:checked ~ .points .points-slide-3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slide-title {
  max-width: 600px;
  margin: 0px;
  margin-bottom: 27px;
  color: #000000;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slide-text p {
  max-width: 430px;
  margin: 0px;
  margin-bottom: 38px;
  line-height: 24px;
}

.btn {
  display: block;
  width: 240px;
  padding: 13px 0;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #fb565a;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* к услугам */

.services {
  padding-top: 85px;
}

.services-list {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  width: 1160px;
  justify-content: space-between;
  padding: 0px;
  padding-right: 60px;
  margin: auto;
  margin-top: 0px;
  padding-bottom: 85px;
  border-bottom: 2px solid #eeeeee;
}

.services-item {
  text-align:left;
  width: 300px;
}

.services-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.services-item p{
  line-height: 24px;
}

.order-button {
  display: block;
  text-align: center;
  color: #ffffff;
  width: 160px;
  padding: 18px 0;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}

.button-1 {
  background-color: #fb565a;
}

.button-1:hover,
.button-1:focus {
  background-color: #e74246;
}

.button-1:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-2 {
  background-color: #00ca74;
}
  
.button-2:hover,
.button-2:focus {
  background-color: #00bc6c;
}

.button-2:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-3 {
  background-color: #efc84a;
}

.button-3:hover,
.button-3:focus {
  background-color: #eab534;
}

.button-3:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* про компанию */

.about {
  display: flex;
  width: 1160px;
  margin: auto;
  justify-content: space-between;
  padding-top: 80px;
}

.about-left-part {
  width: 660px;
  padding-bottom: 75px;
}

.about-left-part h2 {
  color: #000000;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  font-weight: 500;
  margin:0px;
  margin-bottom: 40px;
  padding: 0px;
}

.about-left-part p {
  line-height: 24px;
  text-align: left;
  margin:0px;
  margin-bottom: 40px;
  padding: 0px;
}

.about-left-part h3 {
  text-transform: uppercase;
  color: #000000;
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 30px;
}

.orders {
  line-height: 24px;
  text-align: left;
  margin: 0px;
  list-style: none;
}

.about-right-part {
  width: 360px;
}

.about-right-part h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 35px;
}


.orders li {
  margin: 0px;
  margin-bottom: 30px;
}

.stat-mean {
  font-size: 45px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 25px;
}

.stat-header {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}

/* наши клиенты */

.our-clients {
  padding-bottom: 80px;
  width: 1160px;
  margin: auto;
  text-align: center;
}

.client-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 47px;
  padding-bottom: 48px;
  border-bottom: 2px solid #eeeeee; 
  border-top:  2px solid #eeeeee;
}

.client-list-item a {
  opacity: 0.2;
}

.client-list-item {
  width: 25%;
}

.client-list-item a:hover,
.client-list a:focus {
  opacity: 1;
}

.client-list-item a:active {
   opacity: 0.1;
}

/*вторая страница*/

.subtitle {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
  font-weight: 500;
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 116px; 
}

.filter-catalog {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin: 0 auto;
}

/* 2 стр фильтры*/

.filter-for-cost {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filters {
  width: 260px;
}

.filter-name {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.filter {
  border: none;
  margin: 0;
  padding: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
 /*
.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}
*/
.price-controls {
  font-size: 0;
}

.grid {
  margin: 0px;
  padding-top: 58px;
}

.radio-grid:not(checked) {
  position:absolute;
  opacity: 0;
}

.radio-grid:not(checked) + label {
  position: relative;
  padding-left: 36px;
}

.radio-grid:not(checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 25px;
  height: 25px;
  border-radius; 50%;
  background-image:url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.radio-grid:checked + label::before {
  background-image:url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.radio-grid:hover + label::before,
.radio-grid:focus + label::before {
  opacity: 1;
} 

.radio-grid:disabled + label::before {
  opacity: 0.1;
}

.features {
  margin: 0px;
  padding-top: 40px;
}
.form-for-features{
  padding-bottom: 40px;
}

.checkbox-features:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox-features:not(checked) + label {
  position: relative;
  padding-left: 36px;
}

.checkbox-features:not(checked) + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 27px;
  height: 23px;
  background-image:url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.checkbox-features:checked + label::before {
  width: 23px;
  height: 23px;
  background-image:url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.checkbox-features:hover + label::before,
.checkbox-features:focus + label::before {
  opacity: 1;
} 

.checkbox-features:disabled + label::before {
  opacity: 0.1;
}

.show {
  display: block;
  width: 260px;
  padding: 20px 0;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  border: none;
  border-radius: 3px;
}

.show:hover,
.show:focus{
  background-color: #dfdfdf;
}

.show:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

/*каталог*/

.catalog {
  display: flex;
  width: 760px;
  flex-direction: column;
}

.catalog h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin: 0px;
  padding-bottom: 60px; 
}

.sorting,
.up-down,
.catalog-list,
.pagination-list {
  list-style: none;
  padding: 0;
}

.catalog-sorting-line {
  width: 760px;
  display: flex;
  justify-content: space-between;  
}

.sorting {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-left: 40px;
  margin: 0px;
} 

.up-down {
  display: flex;
  justify-content: space-between;
  min-width: 40px;
  margin: 0px;
}

.sorting-item {
  padding-right: 27px;
} 

.sorting-item button {
  background-color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  padding: 0; 
}

.sorting-item button:hover,
.sorting-item button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item button:active {
  color: #000000;
}

.btn-arrow {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  color: #000000;
  opacity: 0.2;
  font-size: 0;
  width: 11px;
  height: 10px;
}

.down {
  background-image: url("../img/icon-down-dir.svg");
}

.up {
  background-image: url("../img/icon-up-dir.svg");
}

.btn-arrow:hover,
.btn-arrow:focus {
  opacity: 0.4;
}

.btn-arrow:active,
.btn-arrow:active {
  opacity: 1;
}

.catalog-list {
  display: flex;
  width: 760px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
}

.catalog-item {
  position: relative;
  margin-bottom: 35px;
}

.product-card::after {
  content: "";
  position: absolute;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
  background-position: 0 0; 
  width: 360px;
  height: 40px;
  top: -345px;
  right: 0px; 
}  

.product-card::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  background-position: 0 0; 
  width: 360px;
  height: 40px;
  top: -345px;
  right: 0px; 
}  

.product-card {
  position: absolute;
  width: 360px;
  bottom: 0px;
  min-height: 235px;
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
}

.product-card h3 {
  font-weight: bold;
  margin: 0px; 
  padding-bottom: 0px;
  padding-top: 33px;
}

.product-card a {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.product-card p {
  color: #666666;
  margin: 0px;
  padding-top: 18px;
  padding-bottom: 32px;
}

.price-btn {
  display: block;
  width: 200px;
  padding: 18px 0;
  background-color: #fb565a;
  color: #ffffff;
  margin: 0 80px;
  text-decoration: none;
  font-weight: 500;
  border: none;
  border-radius: 3px;
}

.price-btn:hover,
.price-btn:focus {
 background-color:#e74246;
}

.price-btn:active {
background-color: #d7373b;
}

/* пагинатор */

.pagination-list {
  display: flex;
  height: 50px;
  padding: 0px;  
  margin: 0px;
  margin-bottom: 60px;
  margin-top: 25px;
  align-items: center;
}

.pagination-item {
  display: inline-block;
  padding: 18px 20px;
  margin-right: 10px;
  background-color: #eeeeee;
  color: #000000;
  text-align: center;
  border-radius: 3px;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
}

.pagination-item.current {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

/* контакты */

.our-contacts {
  position: relative;
  width: 100%;
  min-width: 1160px;
  max-height: 420px;
  margin: auto;
  overflow: hidden;
}

.our-contacts::before {
  content: "";
  position: absolute;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  left: 860px;
  bottom: 128px;
}

.our-contacts img {
  width: 100%;
  height: auto;
}

.for-map {
  position: absolute;
  width: 1160px;
  left: 0px;
  right: 0px;
  margin: auto;
  top: 0px;
}

.write-us {
  position: absolute;
  background-color: #ffffff;
  padding: 50px;
  box-sizing: border-box;
  top: 55px;
  left: 0px;
  width: 319px;
  min-height: 308px;
}

.write-us h3 {
  text-transform: uppercase;
  color: #000000;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding: 0px;
  padding-bottom: 30px;
}
  
.write-us p {
  line-height: 18px;
  text-align: left;
}

.address {
  margin: 0px;
  margin-bottom: 25px;
}

.phone {
  margin: 0px;
  margin-bottom: 40px;
  text-transform: lowercase;
}

.btn-write-us {
  background-color: #fb565a;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 219px;
  padding: 18px 0;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}

.btn-write-us:hover,
.btn-write-us:focus {
  background-color: #e74246;
}

.btn-write-us:active {
background-color: #d7373b;
color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  display: flex;
  width: 1160px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 78px;
}

.social {
  display: flex;
  width: 400px;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  text-align: left;
  margin: 0px;
  padding: 0px; 
}

.social-button {
  display: flex;
  margin-right: 12px;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.social-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0px;
  margin-bottom: 15px;
}

.footer-social p {
  line-height: 22px;
  margin: 0px;
}

/*поп-ап*/

.modal-contacts {
position: relative;
box-sizing: border-box;
width: 960px;
margin: 0 auto;
padding: 70px 100px 85px 100px;
border: 1px solid black;
}

.modal-contacts h2 {
font-size: 45px;
line-height: 45px;
color: #000000;
margin: 0 0 30px 0;
}

.modal-write-us {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.write-half {
width: 360px;
}

.write-full {
width: 100%;
}

.modal-write-us label {
  font-weight: bold;
  color: #000000;
}

.write input,
.write textarea {
  border: 2px solid #d7dcde;
  color: #a1a1a1;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  margin-top: 12px;
}

.write input:hover,
.write textarea:hover {
  border: 2px solid #b4b9bb;
}

.write input:focus,
.write textarea:focus {
  border: 2px solid #000000;
  outline: none;
}

.write input:invalid,
.write textarea:invalid {
  background-color: #e74246;
  color: #e74246;
}

.btn-send {
  display: block;
  text-align: center;
  background-color: #fb565a;
  color: #ffffff;
  width: 260px;
  padding: 18px 0;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}

.modal-close {
  position: absolute;
  right: 90px;
  top: 78px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  color: #fb565a;
  border: none;
  opacity: 0.3;
  font-size: 0px;
  width: 21px;
  height: 21px;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
} 